/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: hotpink;
  overflow: hidden;
}

html,
body {
  font-family: jaf-bernina-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  color: #333;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
}

p,
.p,
.question-card .question-card__button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  font-style: normal;
  color: inherit;
  text-transform: uppercase;
  line-height: 1;
}

.question-card {
  position: absolute;
  left: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

.question-card .question-card__content {
  display: block;
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 2rem;
}

.question-card .question-card__button {
  display: block;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 0.25rem;
  padding: 0.25rem;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.question-card .question-card__button--true {
  color: #FFF;
  background-color: green;
}

.question-card .question-card__button--false {
  color: #FFF;
  background-color: red;
}

.question-card.question-card--active {
  -webkit-animation-name: activeCard;
          animation-name: activeCard;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes activeCard {
  from {
    left: 100%;
    right: -100%;
  }

  to {
    left: 0;
    right: 0;
  }
}

@keyframes activeCard {
  from {
    left: 100%;
    right: -100%;
  }

  to {
    left: 0;
    right: 0;
  }
}

.question-card.question-card--answered {
  -webkit-animation-name: answeredCard;
          animation-name: answeredCard;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  border-radius: 0.25rem;
}

@-webkit-keyframes answeredCard {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    left: 0;
    right: 0;
  }

  to {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    left: 0;
    right: 0;
  }
}

@keyframes answeredCard {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    left: 0;
    right: 0;
  }

  to {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    left: 0;
    right: 0;
  }
}

