html, body {
    width: 100%;
    height: 100vh;
    height: -webkit-fill-available;
    height: -moz-available;
    height: -fill-available;

    margin: 0;
    padding: 0;
    background-color: $white;
    
}

body {
    width: 100%;
    height: 100vh;
    height: -webkit-fill-available;
    height: -moz-available;
    height: -fill-available;
    margin: 0;
    background-color: transparent;
    overflow: hidden;
}